<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat/todolist.css' %}">
    <script src="{% static 'chat/todo.js' %}" type="text/javascript"></script>
    <title>Websocket To Do List</title>
</head>

<body>

<div class="title">Websocket To Do List Example</div>



<div id="message" class="sub-title">Connecting to WebSocket</div>

<ol id="todo-list" style="list-style: none;"></ol>

<div>
    <label for="item">Item to add:</label>
    <input id="item" type="text" name="item" autofocus>
    <button id="add-button" onclick="addItem()">Add item</button>
    <span id="error" class="error"></span>
</div>

<script>
    const myUserName = "{{ request.user.username }}"
    window.onload = connectToServer
</script>

</body>
</html>
